* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  max-width: 1108px;
  margin: auto;
}

a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}

.nav-content {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid white; */
}

.nav-logo {
  padding-left: 72px;
}

.nav-logo h2 {
  color: white;
}
.nav__links {
  display: flex;
  gap: 24px;
}

.nav__links a {
  padding-right: 96px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  font-family: sans-serif;
  padding: 32px 24px;
}

header {
  background: linear-gradient(90deg, black 37.5%, #181823 0%);
}

.nav__links a:hover {
  background-color: rgba(82, 33, 230, 1);
}

/* ------------------------------------------------------------ */

@media only screen and (max-width: 1440px) and (min-width:769px) {
  .nav{
    background: linear-gradient(90deg, black 37.5%, #181823 0%);
    padding: 32px 72px;
  }
}


@media only screen and (max-width: 768px)  {
  .nav{
    padding: 32px 0px;
  }

  .nav{
    background-color: black;
  }
}


@media only screen and (max-width: 360px) {
  .nav{
    padding: 32px 40px;
    background-color: black;
  }

  .nav .nav__links{
    display: none;
  }

  
}